.quiz-wrap {
  margin: 50px 0 150px;
  .wrapper {
    .quiz-top {
      @include flex;
      margin-bottom: 40px;
      > p {
        @include flex;
        margin-right: 30px;
        font-family: $sf;
        font-weight: 500;
        font-size: 20px;
        color: #989898;
        margin-top: 5px;
        @media (max-width: 767px) {
          font-size: 16px;
          margin-right: 25px;
        }
        span {
          display: inline-block;
          margin: 0 3px;
        }
      }
      .steps {
        @include flex;
        @include flex-wrap;
        .step {
          margin-right: 35px;
          position: relative;
          margin-bottom: 10px;
          z-index: 0;
          width: 30px;
          transition: 0.3s;
          height: 30px;
          background: #e5e5e5;
          @include flex;
          @media (max-width: 767px) {
            margin-right: 25px;
            width: 24px;
            height: 24px;
          }
          > img {
            margin: auto;
            transition: 0.3s;
            opacity: 0;
            @media (max-width: 767px) {
              width: 12px;
            }
          }
          &:last-child {
            margin-right: 0;
            &:after {
              content: none;
            }
          }
          &:before {
            content: "";
            width: 24px;
            height: 24px;
            position: absolute;
            border: 1px solid white;
            top: 2px;
            left: 2px;
            @media (max-width: 767px) {
              width: 18px;
              height: 18px;
            }
          }
          &:after {
            content: "";
            width: 15px;
            height: 1px;
            background: #e5e5e5;
            position: absolute;
            top: 50%;
            right: -25px;
            @media (max-width: 767px) {
              right: -20px;
            }
          }
          &.active {
            background: $yellow;
            > img {
              opacity: 1;
            }
            &:after {
              background: $yellow;
            }
          }
        }
      }
    }
    .quiz-buttons {
      max-width: 1210px;
      @include flex;
      @include justify-between;
      width: 100%;
      margin-top: 40px;
      a {
        max-width: 200px;
        width: 100%;
      }
    }
    .quiz-info {
      @include flex;
      @include justify-between;
      .quiz-items {
        max-width: 1210px;
        width: 100%;
        margin-right: 20px;
        .quiz-item {
          // display: none;
          .quiz-title {
            font-family: $b;
            font-weight: bold;
            font-size: 40px;
            margin-bottom: 30px;
            color: $black;
          }
          .quiz-subtitle {
            margin-bottom: 50px;
            font-size: 20px;
            font-weight: 500;
            font-family: $sf;
            color: #989898;
          }
          .quiz-radios {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px 20px;
          }
          &.quiz-item2 {
            .quiz-radios {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              gap: 20px;
              .radio-wrap {
                label {
                  min-height: 660px;
                }
              }
            }
          }
          &.quiz-item3 {
            .quiz-radios {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 20px;
              .radio-wrap {
                label {
                  min-height: 660px;
                  > img {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 80%;
                  }
                  &:after {
                    content: none;
                  }
                }
              }
            }
          }
          &.quiz-item4,
          &.quiz-item5 {
            .quiz-radios {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 40px 20px;
              .radio-wrap {
                label {
                  > img {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 80%;
                  }
                  &:after {
                    content: none;
                  }
                }
              }
            }
          }
          &.active {
            display: block;
          }
        }
      }
      .quiz-take-test {
        max-width: 440px;
        background: #f5f5f5;
        min-height: 660px;
        position: relative;
        z-index: 0;
        padding: 50px 30px 0;
        margin-top: 144px;
        p {
          font-size: 20px;
          font-family: $sf;
          color: $black;
          font-weight: 600;
        }
        img {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

.radio-wrap {
  input[type="radio"] {
    display: none;
  }

  input:checked + label {
    span {
      &:after {
        content: "";
      }
    }
  }

  label {
    position: relative;
    z-index: 0;
    min-height: 310px;
    @include flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    background: #f5f5f5;
    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      background: rgba(black, 0.4);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &:before {
      content: "";
      bottom: 70px;
      left: 10px;
      width: calc(100% - 20px);
      background: #e5e5e5;
      height: 1px;
      z-index: 1;
      position: absolute;
    }
    .bg {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    p {
      z-index: 1;
      font-size: 32px;
      font-family: $b;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .circle {
      width: 26px;
      min-width: 26px;
      height: 26px;
      border-radius: 50%;
      display: inline-flex;
      margin-right: 20px;
      border: 2px solid white;
      position: relative;
      z-index: 1;
      margin-bottom: 22px;

      &:after {
        content: none;
        position: absolute;
        background: $yellow;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        margin-top: -6px;
        margin-left: -6px;
      }
    }
  }
  &.radio-wrap2 {
    label {
      p {
        color: $black;
      }
      .circle {
        border-color: #858283;
      }
    }
  }
  &.radio-wrap3 {
    label {
      flex-direction: column-reverse;
      align-items: center;
      @include justify-between;
      padding-top: 100px;
      p {
        color: $black;
        font-size: 40px;
      }
      .circle {
        border-color: #858283;
      }
    }
  }
}
